//
$default-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$default-font-size: 14px;
$default-line-height: 17px;

body {
  font-family: $default-font-stack;
  font-size: $default-font-size;
  line-height: $default-line-height;
}