//
@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts//Satoshi-Medium.woff2") format("woff2"),
    url("../public/fonts//Satoshi-Medium.woff") format("woff"),
    url("../public/fonts//Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Bold.woff") format("woff"),
    url("../public/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

$satoshi: "Satoshi", Arial, sans-serif;
$default-font-size: 14px;
$default-line-height: 17px;

body {
  font-family: $satoshi;
  font-size: $default-font-size;
  line-height: $default-line-height;
}
