//

// ?Colors?
$base-black: #000;
$base-white: #FFF;

// ?Breakpoints?
$breakpoints: (
  phone: 375px,
  medium-phone: 480px,
  large-phone: 564px,
  tablet: 768px,
  medium-tablet: 992px,
  large-tablet: 1024px,
  desktop: 1200px
);